@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #FAF8F5; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100vh;
}